/*
Stylesheet for forms
*/

form {
    text-align: center;
}

.form-container {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

form #title {
    -webkit-border-radius:0px;
    -webkit-appearance: none;
    display: block;
    width: 80%;
    background-color: transparent;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #F2F2F2;
    transition: border 0.3s;
    text-align: left;
}

form #title:focus {
    outline-width: 0;
    border-color: #34495e;
}

form .text-field {
    -webkit-border-radius:0px;
    -webkit-appearance: none;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #F2F2F2;
    transition: border 0.3s;
    text-align: left;
}

form .text-field.dropdown-form {
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

form .text-field.page {
    width: 300px;
    margin-bottom: 30px;
    height: 40px;
}

form .text-field:focus {
    outline-width: 0;
}

.error-icon {
    height: 40px;
    width: 40px;
}
