Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^categories/(\d+)*$ ./category.php?cat_id=$1
RewriteRule ^topics/(\d+)*$ ./topic.php?topic_id=$1
RewriteRule ^replies/(\d+)*$ ./reply.php?reply=$1
RewriteRule ^home(\d+)*$ ./index.php
RewriteRule ^create-topic(\d+)*$ ./create_topic.php
RewriteRule ^create-category(\d+)*$ ./create_cat.php
RewriteRule ^register(\d+)*$ ./signup.php
RewriteRule ^login(\d+)*$ ./signin.php
RewriteRule ^logout(\d+)*$ ./signout.php