/*
CSS stylesheet for different button elements.
*/

.button {
    display: inline-block;
    text-align: center;
    background-color: white;
    text-decoration: none;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.button:focus {
    outline-width: 0;
}

/* Button size */
.button.tiny {
    padding: 5px 10px;
}

.button.small {
    padding: 10px 20px;
}

.button.normal {
    padding: 15px 30px;
}

.button.large {
    padding: 30px 60px;
}
