/*
Main stylesheet for basic elements.
*/

html {
    font-family: 'Helvetiva Neue', 'Helvetica', 'Roboto', sans-serif;
    background-color: #F2F2F2;
}

/* Reset basic elements to default value */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* Wrapper for containing elements */
#wrapper {
    width: 100%;
}

/* Container for holding page content */
.content {
    background-color: white;
    margin-top: 100px;
    overflow: hidden;
}

/* Container for elements inside of the wrapper */
.container {
    margin-right: 20px;
    margin-left: 20px;
    display: block;
}


#background-style {
    background-color: #C40C0E;
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
}

/* Spacing for the bottom of the content container */
.bottom-spacer {
    display: block;
    width: 100%;
    height: 50px;
}

a {
    text-decoration: none;
}

.footer {
    text-align: center;
    margin-top: 50px;
    color: #FF3B3F;
    margin-bottom: 50px;
}

/**
 * Desktop
**/
@media (min-width: 1200px) {
    #wrapper {
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        max-width: 1500px;
    }
}
