/*
Stylesheet for page indexing
*/

.page-index {
    height: 20px;
    width: 20px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #FF3B3F;
}

.current-page-index {
    cursor: default;
    pointer-events: none;
    height: 20px;
    width: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #C40C0E;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

.bottom {
    margin-top: 10px;
}

.top {
    margin-bottom: 10px;
}
