/*
Stylesheet for posts
*/

/*
Box to store user posts
*/
.topic-box {
    background-color: #F2F2F2;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    overflow: hidden;
}

/* Styling for the actual posts */
.post {
    background-color: white;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.post-header {
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
}

.mobile-profile-info {
    display: flex;
    border-bottom: 2px solid #F2F2F2;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.mobile-profile-info .profile-picture {
    align-self: center;
    display: inline-flex;
}

.mobile-profile-info span {
    align-self: center;
    margin-left: 20px;
}

.profile-info {
    text-align: center;
    display: none;
    width: 20%;
    overflow: hidden;
    vertical-align: top;
}

.post-content {
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
}

.post-content img {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.post-content ul, ol {
    margin-left: 30px;
    margin-bottom: 10px;
}

/* Tablet */
@media (min-width: 700px) {
    .mobile-profile-info {
        display: none;
    }

    .profile-info {
        display: inline-block;
    }

    .post-content {
        width: 80%;
    }

    .post {
        padding-left: 0px;
        margin-bottom: 10px;
    }

    .topic-box {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .post-header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .topic-box {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .post {
        margin-bottom: 20px;
    }
}
