/*
Stylesheet for table styling
*/
td a {
    color: #FF3B3F;
    font-weight: 900;
    font-size: 15px;
    transition: color 0.2s ease;
}

td a:hover {
    color: #C40C0E;
}

.middle {
    padding-right: 100px;
    padding-left: 10px;
    text-align: center;
}

table {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    float: right;
    height: 200px;
    width: 100%;
}

tr {
    background-color: white;
}

td {
    padding-top: 20px;
    padding-bottom: 20px;
}

#last-topic {
    display: none;
}

.rightpart {
    padding-right: 10%;
}

.leftpart {
    padding-left: 10%;
    padding-right: 10%;
}

.whiteBackground {
    background-color: white;
}

.grayBackground {
    background-color: #F7F7F7;
}

@media (min-width: 1200px) {
    #last-topic {
        display: table-cell;
        padding-left: 0;
    }
}
