/*
Stylesheet for text elements
*/

/* Text sizing */
.tiny-text {
    font-size: 13px;
}

@media (min-width: 700px) {
    .tiny-text {
        font-size: 14px;
    }
}

.small-text {
    font-size: 14px;
}

.normal-text {
    font-size: 16px;
}

.big-text {
    font-size: 20px;
}

/* Text colors */
.gray {
    color: #868686;
}

.black {
    color: #141414;
}

.red {
    color: #FF3B3F;
}

.white {
    color: white;
}

.lightblack {
    color: #34495e;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    text-align: center;
}

.left {
    text-align: left;
}

/* Styling for page headers */
.header {
    display: block;
    margin-bottom: 50px;
}

.title {
    color: #34495e;
    font-size: 24px;
    font-weight: bold;
}

.description {
    color: #868686;
    font-size: 14px;
}

/* Other styles */
.big-number {
    font-size: 25px;
    font-weight: 100;
    color: #303030;
}
