/*
Stylesheet for text elements
*/

/* Text sizing */
.tiny-text {
    font-size: 13px;
}

@media (min-width: 700px) {
    .tiny-text {
        font-size: 14px;
    }
}

.small-text {
    font-size: 14px;
}

.normal-text {
    font-size: 16px;
}

.big-text {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    text-align: center;
}

.left {
    text-align: left;
}

/* Styling for page headers */
.header {
    display: block;
    margin-bottom: 50px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.description {
    font-size: 16px;
}

/* Other styles */
.big-number {
    font-size: 25px;
    font-weight: 100;
    color: #303030;
}

.error {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
