/* Red CSS theme */

/* Main coloring */

html {
    background-color: #F2F2F2;
}

.primary-color {
    background-color: #4CAF50;
}

.secondary-color {
    background-color: #388E3C;
}

.faded-color {
    background-color: #F7F7F7;
}

.inverted-color {
    background-color: #ffffff;
}

/* Text Colors */
.primary-text-color {
    color: #141414;
}

.secondary-text-color {
    color: #4CAF50;
}

.title-text-color {
    color: #34495e;
}

.faded-text-color {
    color: #868686;
}

.inverted-text-color {
    color: #ffffff;
}

.error-text-color {
    color: #FF3B3F;
}

/* Link Colors */
td a:hover {
    color: #388E3C;
}

td a {
    color: #4CAF50;
}

/* Button Colors */
.primary-button-color {
    background-color: #4CAF50;
    color: #ffffff;
    border: 2px solid #4CAF50;
}

.primary-button-color:hover {
    background-color: #ffffff;
    color: #4CAF50;
}

.inverted-button-color {
    background-color: #ffffff;
    color: #4CAF50;
    border: 2px solid #ffffff;
}

.inverted-button-color:hover {
    background-color: #4CAF50;
    color: #ffffff;
}

/* Nav Colors */
.content-nav .item:hover {
    background-color: #F7F7F7;
    color: #4CAF50;
}

/* Page indicators */
.current-page-index {
    background-color: #388E3C;
    color: #ffffff;
    border-color: #388E3C;
}

.page-index:hover {
    background-color: white;
    color: #4CAF50;
}

.page-index {
    background-color: #4CAF50;
    color: white;
}

/* Others */
/* Mobile post border */
.mobile-profile-info {
    border-bottom: 2px solid #F2F2F2;
}
