<?php
// Rename this file to 'config.php', then configure each setting.

// Path Configuration
define('RESOURCE_PATH', '../resources');
define('CONFIGURATION_PATH', '../resources/configuration');
define('LIBRARY_PATH', '../resources/library');
define('TEMPLATES_PATH', '../resources/templates');

// Main Configuration
define('FORUM_NAME', 'Zach\'s Forum'); // the title of the forum
define('FORUM_DESCRIPTION', 'An example forum'); /// the description of the forum
define('FORUM_KEYWORDS', ''); // SEO keywords comma-space separated (ex. ', ')
define('FORUM_LANGUAGE', 'en'); // content language code (default:en)
define('PUBLIC_HOST', '127.0.0.1'); // set this to the public facing address, if any.
define('DEVELOPMENT_MODE', TRUE); // development mode will make all users temporarily admin, disable email verification, and enable logging later

// Database Configuration
define('HOST', '127.0.0.1'); // database host
define('USER', ''); // database user
define('PASSWORD', ''); // database password
define('DATABASE', 'website_forum'); // database name (default:website_forum)

// Date Configuration
define('TIMEZONE', 'America/Toronto'); // current timezone

// Email Configuration
define('VERIFY_EMAIL', FALSE); // verify email or not
define('EMAIL', ''); // email to use
define('EMAIL_PASSWORD', ''); // email password

// Theme Configuration
define('COLOR_THEME', 'red-theme'); // color themes are located in public_html/css/themes/
?>
