<?php
// Rename this file to 'config.php', then configure each setting.

// Main Configuration
define('FORUM_NAME', ''); // the title of the forum
define('FORUM_DESCRIPTION', ''); /// the description of the forum
define('FORUM_KEYWORDS', ''); // SEO keywords comma-space sparated (ex. ', ')
define('FORUM_LANGUAGE', 'en'); // content language code (default:en)
define('DEVELOPMENT_MODE', TRUE); // development mode will make all users temporarily admin, disable email verification, and enable logging later

// Database Configuration
define('HOST', ''); // database host
define('USER', ''); // database user
define('PASSWORD', ''); // database password
define('DATABASE', 'website_forum'); // database name (default:website_forum)

// Date Configuration
define('TIMEZONE', 'America/Toronto'); // current timezone

// Email Configuration
define('VERIFY_EMAIL', FALSE); // verify email or not. If false, EMAIL and EMAILPASS do not have to be set.
define('EMAIL', ''); // email to use
define('EMAILPASS', ''); // email password

// Theme Configuration
define('COLOR_THEME', 'red-theme'); // color themes are located in /style/themes/
?>
