/* Red CSS theme */

/* Main coloring */
.primary-color {
    background-color: #FF3B3F;
}

.secondary-color {
    background-color: #C40C0E;
}

.faded-color {
    background-color: #F7F7F7;
}

.inverted-color {
    background-color: #ffffff;
}

/* Text Colors */
.primary-text-color {
    color: #141414;
}

.secondary-text-color {
    color: #FF3B3F;
}

.title-text-color {
    color: #34495e;
}

.faded-text-color {
    color: #868686;
}

.inverted-text-color {
    color: #ffffff;
}

.error-text-color {
    color: #FF3B3F;
}

/* Link Colors */

/* Button Colors */
.primary-button-color {
    background-color: #FF3B3F;
    color: #ffffff;
    border: 2px solid #FF3B3F;
}

.primary-button-color:hover {
    background-color: #ffffff;
    color: #FF3B3F;
}

.inverted-button-color {
    background-color: #ffffff;
    color: #FF3B3F;
    border: 2px solid #ffffff;
}

.inverted-button-color:hover {
    background-color: #FF3B3F;
    color: #ffffff;
}

/* Nav Colors */

/* Page indicators */
.current-page-index {
    background-color: #C40C0E;
    color: #ffffff;
}

.page-index:hover {
    background-color: white;
    color: #FF3B3F;
}

.page-index {
    background-color: #FF3B3F;
    color: white;
}
