.icon-toolbar {
    height: 40px;
    margin-right: 10px;
    align-self: center;
    display: flex;
    margin-left: auto;
}

.icon-toolbar img {
    display: inline-block;
    align-self: center;
    padding-right: 5px;
    padding-left: 5px;
}
